.mainHeader{
  max-width: 100%;
  background: #ff6700;
  border-bottom: 1px solid #eeeeee;
  height: 70px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-size: 18px;
  color: #050301;
}

.logo {
  display: flex;
  align-items: center;
  color: #050301;
  text-decoration: none;
}

.logo img {
  max-width: 40px;
  margin-right: 5px;
}

.navigation .link {
  padding: 10px;
  color: #050301;
  text-decoration: none;
}

.navigation .link.active {
  background-color: #fbfcfa;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .navigation {
    display: none;
  }
}
